*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}


.HeaderOuter {
    background: #1c2434;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px
}

.maxWidth-container {
    max-width: 1340px;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
 .section1-Wrapper  p {
    margin-left: 14px;
}

.section1-Wrapper{
    color: #ffffff;
    font-size: 14px;
}


 .btn-section  button.Btn {
    background: #9bbc4e;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

@media (max-width:770px) {
    .maxWidth-container{
        padding: 7px 10px;
    }
}